Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
PyPDF2==3.0.1
python-docx==1.2.0
pdfminer.six==20250506
requests==2.32.5
SQLAlchemy==2.0.43
bcrypt==4.3.0
cryptography==45.0.7
rapidfuzz==3.9.7
reportlab==4.2.5
